@font-face {
  font-family: 'iconfont';  /* project id 1434246 */
  src: url('//at.alicdn.com/t/font_1434246_yubmnyf6cp.eot');
  src: url('//at.alicdn.com/t/font_1434246_yubmnyf6cp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1434246_yubmnyf6cp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1434246_yubmnyf6cp.woff') format('woff'),
  url('//at.alicdn.com/t/font_1434246_yubmnyf6cp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1434246_yubmnyf6cp.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 1rem;
  color: #909090;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}