@import './icon.scss';
@import './variables.scss';
@import './markdown.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  color: #323232;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
}

html {
  height: 100%;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  color: #333;
  background-color: #f4f5f5;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica "Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}

#app {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: $navcolor;
}

#nprogress .bar {
  height: 1px!important;;
  background: $primary !important; //自定义颜色
}